/*app style */
table{
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
}
.player{
  position: fixed;
  top: 0;
  margin-top: 55px;
}
body{
    background: gray;
}
tr td:nth-child { 
    text-align: right;
 }
 